* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(211, 210, 210);
}

.container {
  margin: auto;
  width: 1146px;
}

header {
  margin: auto;
  padding-top: 55px;
  width: 1440px;
  height: 883px;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 50px 50px 0 0;
}

header nav {
  margin-top: 55px;
  display: flex;
  padding: 0px 0px 0px 1.932px;
  justify-content: center;
  align-items: center;
}

header nav .left-side {
  width: 1146px;
  padding: 0px 0px 0px 1.932px;
}

header nav .right-side {
  display: flex;
  column-gap: 41px;
  /* justify-content: space-around; */
  width: 553px;
  height: 12px;
}

header nav .right-side a {
  color: #191919;
  text-align: right;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  /* flex-grow: 1; */
}

header nav .right-side a:hover {
  color: #121212;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
}

header .content {
  display: flex;
  row-gap: 60px;
  column-gap: 100px;
  flex-flow: column wrap;
  height: 597px;
  margin-top: 120px;
  margin-bottom: 142px;
}

header .content h1 {
  width: 563px;
  color: #191919;
  font-family: "Work Sans", sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  /* 86.4px */
  letter-spacing: 0.3px;
}

header .content p {
  color: #191919;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 28px */
  width: 506px;
}

header .content .subscription-wrapper {
  display: flex;
  width: 433px;
}

header .content .subscription-wrapper input {
  padding: 30px 0 30px 35px;
  border-radius: 3px;
  border: 1px solid #191919;
  background: #fff;
  box-shadow: 0px 40px 70px 0px rgba(75, 75, 75, 0.07);
  flex-grow: 1;
  color: #191919;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  /* 16px */
  letter-spacing: 0.2px;
}

header .content .subscription-wrapper input::placeholder {
  color: #191919;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  /* 16px */
  letter-spacing: 0.2px;
}

header .content .subscription-wrapper button {
  width: 150px;
  border: 1px solid transparent;
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 170%;
  /* 30.6px */
  letter-spacing: 0.2px;
  text-transform: capitalize;
  background-color: #3c4ba6;
  cursor: pointer;
}

header .content .image-wrapper {
  position: relative;
  padding-left: 20px;
  overflow: hidden;
}

header .content .image-wrapper .main-image {
  border-top-left-radius: 70px;
}

header .content .image-wrapper .wave1 {
  position: absolute;
  bottom: -16px;
  left: -5px;
}

header .content .image-wrapper .spiral {
  position: absolute;
  top: -20px;
  right: 1px;
}

main {
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 1440px;
  height: 825px;
  padding-top: 140px;
  background-color: #f6f9ff;
}
main .content {
}

main .content h1 {
  color: #191919;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-size: 62px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  /* 74.4px */
  letter-spacing: 0.3px;
}

main .content .card-wrapper {
  display: flex;
  margin-top: 100px;
  column-gap: 30px;
}

main .content .card-wrapper .card {
  padding-left: 30px;
  padding-top: 50px;
  width: 362px;
  height: 389px;
  border-radius: 5px;
  border: 1px solid #f8f9fc;
  background: #fff;
  box-shadow: 0px 20px 40px 0px rgba(141, 147, 201, 0.08);
}

main .content .card-wrapper img {
  margin: -20px -30px;
}

main .content .card-wrapper .text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 21px;
  width: 314px;
  height: 138.342px;
}

main .content .card-wrapper .text-wrapper h2 {
  color: #191919;
  font-family: "Work Sans", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 39px */
  text-transform: capitalize;
}

main .content .card-wrapper .text-wrapper p {
  color: #191919;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  width: 292px;
}

main .content .card-wrapper .card .text-wrapper .label-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 130px;
  position: relative;
}

main .content .card-wrapper .card .text-wrapper .label-wrapper p,
a {
  color: #3c4ba6;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 16px */
  text-align: start;
  width: 100%;
  text-decoration: none;
}

main .content .card-wrapper .card .text-wrapper .label-wrapper img {
  position: absolute;
  right: 40px;
  bottom: 22px;
}

main .wave {
    position: absolute;
    bottom: -16px;
    left: -5px;
}
